:root {
  --primary: #ff4c00;
  --intermediate: #ff9500;
  --secondary: #ffb60b;
  --verydark: #1e1e1e;
  --dark: #393939;
  --grey: #565656;
  --lightgrey: #b0b0b0;
  --light: #efefef;
}

.player-card {
  margin: auto;
  max-width: 500px;
  height: 750px;
  background-color: var(--dark);
  color: var(--light);
  margin-top: 15vh;
  padding: 5vh;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease;
}

.player-card:hover {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
}

player-card-head {
  display: inline-flex;
}

.player-card-name {
  font-size: 36px;
  margin-top: 20px;
  max-width: 300px;
  display: inline;
}

.player-card-rank {
  font-size: 32px;
  font-weight: bold;
  color: var(--intermediate);
  display: inline;
  max-width: 70px;
}

.player-card-horizontal-bar {
  width: 100%;
  height: 5px;
  background-color: var(--intermediate);
  margin: auto;
  margin-top: 10px;
}

.player-card-graphique {
  height: 270px;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  margin-top: 25px;
}

.chart-canvas {
  width: 90%;
  height: 100%;
  margin: auto;
}

.player-card-facultes {
  margin-top: 10px;
}

.player-card-faculte {
  margin-top: 5px;
  max-width: 300px;
}

.player-card-faculte p {
  font-size: 24px;
  display: inline;
}

.player-card-faculte {
  font-size: 24px;
}

.player-card-faculte-force {
  font-size: 34px;
  font-weight: bold;
  color: var(--primary);
}

.player-card-faculte-force p {
  display: inline;
}

.player-card-faculte-score {
  width: 50px;
  right: 0%;
}
